# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data/model cache (if not versioning)
*.pkl

# OS files
.DS_Store
Thumbs.db 

faq_embeddings.npy
accuracy_report.txt
